{{- $CurrentRevision := .CurrentRevision -}}
{{- $PreviousRevision := .PreviousRevision -}}
# Release notes for {{$CurrentRevision}}
[Documentation](https://autoimagepullsecrets.io)
{{if .Downloads}}
## Downloads for {{$CurrentRevision}}
{{- with .Downloads.Source }}
### Source Code
filename | sha512 hash
-------- | -----------
{{range .}}[{{.Name}}]({{.URL}}) | {{.Checksum}}{{println}}{{end}}
{{end}}
{{- with .Downloads.Client -}}
### Client binaries
filename | sha512 hash
-------- | -----------
{{range .}}[{{.Name}}]({{.URL}}) | {{.Checksum}}{{println}}{{end}}
{{end}}
{{- with .Downloads.Server -}}
### Server binaries
filename | sha512 hash
-------- | -----------
{{range .}}[{{.Name}}]({{.URL}}) | {{.Checksum}}{{println}}{{end}}
{{end}}
{{- with .Downloads.Node -}}
### Node binaries
filename | sha512 hash
-------- | -----------
{{range .}}[{{.Name}}]({{.URL}}) | {{.Checksum}}{{println}}{{end}}
{{end -}}
{{- end -}}
# Changelog since {{$PreviousRevision}}
{{with .NotesWithActionRequired -}}
## Urgent Upgrade Notes
### (No, really, you MUST read this before you upgrade)
{{range .}}{{println "-" .}} {{end}}
{{end}}
{{- if .Notes -}}
## Changes by Kind
{{ range .Notes}}
### {{.Kind | prettyKind}}
{{range $note := .NoteEntries }}{{println "-" $note}}{{end}}
{{- end -}}
{{- end -}}
